.main {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.display {
  background-color: hsl(257, 27%, 26%);
  background-image: url(../../assets//bg-shorten-mobile.svg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.text {
  background-color: white;
  width: 85%;
  height: 40px;
  margin: 22px 0 2px 0;
  border-radius: 5px;
}
.text input {
  width: 94%;
  height: 22px;
  margin-top: 10px;
  font-size: 0.8rem;
  border: none;
  font-weight: 700;
}
.text input:focus {
  outline: none;
}
.text input::placeholder {
  color: rgb(115, 109, 109);
}
.label {
  width: 85%;
  background-color: hsl(180, 66%, 49%);
  color: white;
  margin: 15px 0 20px 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  font-weight: 600;
}
.error {
  color: red;
  font-size: 0.7rem;
  font-style: italic;
  margin-left: -60%;
  display: none;
}
.resultDisplay {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 90px;
  justify-content: space-between;
}
.result {
  background-color: white;
  border-radius: 7px;
}
.inputDisplay {
  border-bottom: 2px solid rgb(205, 203, 203);
  height: 40px;
  align-items: center;
  display: flex;
}
.resultDisplay span,
.inputDisplay span {
  padding-left: 20px;
}
.copy {
  margin-bottom: 15px;
  background-color: hsl(180, 66%, 49%);
  width: 90%;
  margin-left: 17px;
  height: 35px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.resultDisplay span {
  padding-top: 5px;
}
