.head {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 15px;
}
.head p {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.fabar {
  color: #777777;
}
.content {
  text-align: center;
}
.illustration {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.illustration img {
  object-fit: cover;
  display: block;
  width: 130%;
}
.more h1 {
  font-weight: 800;
  color: #333333;
}
.more p {
  font-size: 1.15rem;
  padding: 0 10px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.started {
  background-color: hsl(180, 66%, 49%);
  padding: 15px 45px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}
